:root{
    --primary-color:#273A50;
    --white:#FFFFFF;
    --pale-primary:#7E92AB99;
    --glass: #3E5774A6;
    --error:#CB1D02;
    --input: #BBC9D9;
    --white20: rgba(255,255,255,20%);
    --base-size:1rem;
    --scale:1.333;
    --h5: calc(var(--base-size)* var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h1: calc(var(--h2) * var(--scale));
}

body, html {
    height: 100%;
    margin: 0px;
   display: grid;
   place-content: center;
    background-color: #273A50;
    padding: 13rem  26rem;
}

.shades-container {
    width: 250px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
}

.shade1 {
    flex: 1;
    background-color: #7E92AB;
}
.column {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: rgb(238, 236, 236);
    white-space: 12px;
}
input[type="text"] {
    width: 250px;
    height: 50px;
    flex-direction: column;
    border-radius:0.625rem;
    border: 0px;
    color: white;
    padding: 0.5rem;
    box-sizing: border-box;
    outline-color: var(--glass);
    border-color: var(--pale-primary);
    background-color: #7E92AB;
    text-align: left;/* Adds space between the boxes */
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
}

.flex{
    display: flex;
}

.col{
    flex-direction: column;
}

.gap-input{
    column-gap: 7.1875rem;
}

label{
    color : #ffffff;
    font-size: Roboto;
    font-family: 'Roboto';
}
p{
    color: #CB1D02;
    margin: 0;
}
h2{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.Form{
    background-color: var(--pale-primary);
    width: 41.625rem;
    height: 52rem;
    border-radius: 0.63rem;
    padding: 1.5rem 1.25rem;
    font-family: "Roboto";
    row-gap:0.5rem ;

}

.flex.col label{
    color: var(--white);
    font-size: var(--h4);
}

h4{
    font-size: var(--h4);
    color: var(--white);

}

.mb-32{
    margin-bottom: 2rem;
}
button{
    width: 39rem;
    height: 5rem;
    border-radius: 10px;
    background-color: var(--primary-color);
    font-family: "Roboto";
    font-size: var(--h5);
    color: var(--white);
    border: 0px;
}